body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}
/* Barra lateral */
.sidebar {
  background-color: #005DAD;  /* Azul escuro */
  padding: 20px;
  width: 250px;
  height: 100%;
  position: fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.sidebar .info {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar .university-logo {
  width: 120px;
  height: auto;
  margin-top: 20px;
}

.sidebar .university-name,
.sidebar .department {
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

/* Área principal do conteúdo */
.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 270px; /* para dar espaço à sidebar fixa */
  background-color: #F0F0F0;
}

.main-content {
  padding: 20px;
  flex: 1;
}

.main-content h2 {
  color: #04447B;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #04447B;
  color: white;
}


iframe {
  width: 100%;
  min-height: 600px;
  border: none;
}

